html {
    -ms-touch-action: none;
}

body, canvas, div {
    margin: 0;
    padding: 0;
    outline: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;

    cursor: default;
    color: #888;
    background-color: #000000;

    text-align: center;
    font-family: Verdana, Patua One, sans-serif;

    display: flex;
    flex-direction: column;
}

#Cocos2dGameContainer {
    position: absolute;
    margin: 0;
    overflow: hidden;
    left: 0;
    top: 0;

    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    width: 100%!important;
    height: 100%!important;
}

canvas {
    background-color: rgba(0, 0, 0, 0);
}

#fullscreen-preloader {
    background-color: #242424;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;
}

div.fullscreen-preloader-content-wrapper {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    pointer-events: none;
    user-select: none;
    margin-bottom: min(20vh, 150px);
}

div.fullscreen-preloader-content {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

div.fullscreen-preloader-content-shown {
    opacity: 1;
    transform: translateY(0);
}

img.fullscreen-preloader-logo {
    width: 200px;
    margin: 0 auto;
    @media (max-width: 768px) {
        width: 150px;
    }
}

div.fullscreen-preloader-info {
    margin: 10px 20px 20px;

    h1.fullscreen-preloader-title {
        color: #ededed;
        margin: 0 0 10px;
        font-weight: bold;
        padding: 0;
        text-align: center;
        font-family: 'Patua One', sans-serif;
        font-size: 36px;
        text-transform: uppercase;
        letter-spacing: 2px;
        @media (max-width: 768px) {
            font-size: 28px;
        }
    }

    p.fullscreen-preloader-description {
        color: #888888;
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: 'Patua One', sans-serif;
        font-size: 18px;
        letter-spacing: 1px;
        @media (max-width: 768px) {
            font-size: 16px;
        }
    }
}

div.ellipsis-loader-wrapper {
    --size-multiplier: 0.25;
    width: calc(200px * var(--size-multiplier));
    height: calc(50px * var(--size-multiplier));
    display: inline-block;
    overflow: hidden;
    background: transparent;
}

@media (max-width: 1399.98px) {
    div.ellipsis-loader-wrapper { --size-multiplier: 0.235; }
}
@media (max-width: 1199.98px) {
    div.ellipsis-loader-wrapper { --size-multiplier: 0.22; }
}
@media (max-width: 991.98px) {
    div.ellipsis-loader-wrapper { --size-multiplier: 0.205; }
}
@media (max-width: 767.98px) {
    div.ellipsis-loader-wrapper { --size-multiplier: 0.19; }
}
@media (max-width: 575.98px) {
    div.ellipsis-loader-wrapper { --size-multiplier: 0.175; }
}

div.ellipsis-loader {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

div.ellipsis-loader div {
    position: absolute;
    width: calc(40px * var(--size-multiplier));
    height: calc(40px * var(--size-multiplier));
    border-radius: 50%;
    transform: translate(calc(80px * var(--size-multiplier)),0px) scale(1);
    background: #e8b92f; /* Replace $primary */
    animation: ellipsis-loader 1s infinite cubic-bezier(0,0.5,0.5,1);
}

div.ellipsis-loader div:nth-child(1) {
    background: #e8b92f; /* Replace $primary */
    transform: translate(calc(148px * var(--size-multiplier)),0px) scale(1);
    animation: ellipsis-loader-r 0.25s infinite cubic-bezier(0,0.5,0.5,1), ellipsis-loader-c 1s infinite step-start;
}

div.ellipsis-loader div:nth-child(2) {
    animation-delay: -0.25s;
    background: #e8b92f;
}

div.ellipsis-loader div:nth-child(3) {
    animation-delay: -0.5s;
    background: #e8b92f;
}

div.ellipsis-loader div:nth-child(4) {
    animation-delay: -0.75s;
    background: #e8b92f;
}

div.ellipsis-loader div:nth-child(5) {
    animation-delay: -1s;
    background: #e8b92f;
}

@keyframes ellipsis-loader {
    0% { transform: translate(calc(12px * var(--size-multiplier)),0px) scale(0); }
    25% { transform: translate(calc(12px * var(--size-multiplier)),0px) scale(0); }
    50% { transform: translate(calc(12px * var(--size-multiplier)),0px) scale(1); }
    75% { transform: translate(calc(80px * var(--size-multiplier)),0px) scale(1); }
    100% { transform: translate(calc(148px * var(--size-multiplier)),0px) scale(1); }
}

@keyframes ellipsis-loader-r {
    0% { transform: translate(calc(148px * var(--size-multiplier)),0px) scale(1); }
    100% { transform: translate(calc(148px * var(--size-multiplier)),0px) scale(0); }
}

@keyframes ellipsis-loader-c {
    0%,25%,50%,75%,100% { background: #e8b92f; }
}

div.transition-hiding {
    opacity: 0!important;
    transition: opacity 0.5s ease-in-out;
}

div.transition-hidden {
    display: none!important;
}